.container {
  display: flex;
  width: 700px;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2,
.container h1,
.container_btn {
  margin-top: 4rem;
}

.container h1 {
  font-size: 3rem;
}

.btn {
  padding: 0.5em 2em;
  background-color: rgb(83, 172, 228);
  color: #222;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 1em;
}
